<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raymond.mapper.system.SystemRolePermissionMapper">


    <!-- SystemRolePermissionMapper.xml -->
    <insert id="batchInsert">
        INSERT INTO system_role_permission (role_id, permission_id, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permissionId}, #{item.createTime})
        </foreach>
    </insert>


</mapper>
